<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../static/layui/css/layui.css" />
	</head>
	<body>
		<ul class="layui-nav layui-bg-green">
	  <li class="layui-nav-item"><a href="">首页</a></li>
	  <li style="margin-left:77%;" class="layui-nav-item layui-this"><a href="">在线工具</a></li>
	  <li class="layui-nav-item"><a href="">教程</a></li>
	  <!--<li class="layui-nav-item">
	    <a href="javascript:;">解决方案</a>
	    <dl class="layui-nav-child">
	      <dd><a href="">移动模块</a></dd>
	      <dd><a href="">后台模版</a></dd>
	      <dd><a href="">电商平台</a></dd>
	    </dl>
	  </li>-->
	  <li class="layui-nav-item"><a href="">联系我</a></li>
	</ul>
	</body>
</html>
