<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../static/layui/css/layui.css" />
		
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?40648ca14434a0597e16e638e1f0607b";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
			</script>
	</head>
	<body>
		
		<ul class="layui-nav layui-bg-green">
		  <li class="layui-nav-item"><a href="http://www.mapboxx.cn/">首页</a></li>
		  <li style="margin-left:70%;" class="layui-nav-item layui-this"><a href="http://www.mapboxx.cn/">在线工具</a></li>
		  <li class="layui-nav-item"><a href="https://liujiao111.github.io/">教程</a></li>
		  <li class="layui-nav-item"><a href="https://liujiao111.github.io/about/">联系我</a></li>
		</ul>
	</body>
</html>
