<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>地图工具大全</title>
		<link rel="stylesheet" href="../static/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/timeline.css" />
		<script src="../static/js/modernizr.custom.js"></script>

	</head>
	
	 <ul class="layui-nav layui-bg-green">
	  <li class="layui-nav-item"><a href="">首页</a></li>
	  <li style="margin-left:77%;" class="layui-nav-item layui-this"><a href="">在线工具</a></li>
	  <li class="layui-nav-item"><a href="">教程</a></li>
	  <!--<li class="layui-nav-item">
	    <a href="javascript:;">解决方案</a>
	    <dl class="layui-nav-child">
	      <dd><a href="">移动模块</a></dd>
	      <dd><a href="">后台模版</a></dd>
	      <dd><a href="">电商平台</a></dd>
	    </dl>
	  </li>-->
	  <li class="layui-nav-item"><a href="">联系我</a></li>
	</ul>

	<body style="margin-top: 0px;">

		<div style="margin-top: 20px;margin-left: 100px;" class="layui-row layui-col-space20">
			<div class="layui-col-md1">
				<div class="grid-demo grid-demo-bg1"></div>
			</div>
			<div class="layui-col-md3">
				<div class="cbp_tmlabel">
					<h2 id="boxoffice">腾讯位置大数据爬取</h2>
					
					<img src="../static/image/tencent.jpg" style='cursor:pointer;height: 270px;' onclick="window.open('/tencent')">
					<ul>
						<li>
							基于腾讯位置大数据实现的人流量实时爬取, 数据保存为CSV格式提供浏览器下载到本地。
						</li>
						<li class="skill">
							<span><b></b></span>
							<span class="i-react"></span>
							<span class="link"><a target="_blank" href="/tencent">开始使用</a></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-col-md3">
				<div class="cbp_tmlabel">
					<h2 id="boxoffice">POI数据爬取</h2>
					
					<img src="../static/image/poi.jpg" style='cursor:pointer;height: 270px;' onclick="window.open('/poi')">
					<ul>
						<li>
							基于高德地图实现的POI数据在线爬取，可根据指定城市和分类爬取数据并导出为EXCEL以及CSV。
						</li>
						<li class="skill">
							<span><b></b></span>
							<span class="i-react"></span>
							<span class="link"><a target="_blank" href="/heatmap">开始使用</a></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-col-md3">
				
				<div class="cbp_tmlabel">
					<h2 id="boxoffice">根据多边形范围爬取POI数据</h2>
					
					<img src="../static/image/juxing.jpg" style='cursor:pointer;height: 270px;' onclick="window.open('/tencent')">
					<ul>
						<li>
							基于百度地图实现的POI数据点在线可视化，上传指定格式的EXCEL数据文件即可看到可视化结果。
						</li>
						<li class="skill">
							<span><b></b></span>
							<span class="i-react"></span>
							<span class="link"><a target="_blank" href="/tencent">开始使用</a></span>
						</li>
					</ul>
				</div>
				
			</div>
			<div class="layui-col-md1">
				<div class="grid-demo"></div>
			</div>
		</div>
		
		
		<!--
        	作者：offline
        	时间：2019-08-19
        	描述：第二行
        -->
        
        
        <div style="margin-top: 20px;margin-left: 100px;" class="layui-row layui-col-space20">
			<div class="layui-col-md1">
				<div class="grid-demo grid-demo-bg1"></div>
			</div>
			<div class="layui-col-md3">
				<div class="cbp_tmlabel">
					<h2 id="boxoffice">POI点数据在线可视化</h2>
					
					<img src="../static/image/poi-e.jpg" style='cursor:pointer;height: 270px;' onclick="window.open('/tencent')">
					<ul>
						<li>
							基于百度地图实现的POI数据点在线可视化，上传指定格式的EXCEL数据文件即可看到可视化结果。
						</li>
						<li class="skill">
							<span><b></b></span>
							<span class="i-react"></span>
							<span class="link"><a target="_blank" href="/tencent">开始使用</a></span>
						</li>
					</ul>
				</div>
			</div>
			
			
			<div class="layui-col-md3">
				
				<div class="cbp_tmlabel">
					<h2 id="boxoffice">热力图在线可视化</h2>
					
					<img src="../static/image/heatmap.jpg" style='cursor:pointer;height: 270px;' onclick="window.open('/heatmap')">
					<ul>
						<li>
							基于百度Echarts实现的热力数据可视化，上传数据文件即可看到可视化结果。
						</li>
						<li class="skill">
							<span><b></b></span>
							<span class="i-react"></span>
							<span class="link"><a target="_blank" href="/heatmap">开始使用</a></span>
						</li>
					</ul>
				</div>
				
			</div>
			<div class="layui-col-md3">
				<div class="cbp_tmlabel">
					<h2 id="boxoffice">可视化-待定</h2>
					
					<img src="../static/image/zuobiao.jpg" style='cursor:pointer;height: 270px;' onclick="window.open('/heatmap')">
					<ul>
						<li>
							待定功能
						</li>
						<li class="skill">
							<span><b></b></span>
							<span class="i-react"></span>
							<span class="link"><a target="_blank" href="/heatmap">开始使用</a></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-col-md1">
				<div class="grid-demo"></div>
			</div>
		</div>
		
		
			
		<!--
        	作者：offline
        	时间：2019-08-19
        	描述：第四行
        -->
        
        <div style="margin-top: 20px;margin-left: 100px;" class="layui-row layui-col-space20">
			<div class="layui-col-md1">
				<div class="grid-demo grid-demo-bg1"></div>
			</div>
			<div class="layui-col-md3">
				<div class="cbp_tmlabel">
					<h2 id="boxoffice">坐标转换工具</h2>
					
					<img src="../static/image/zuobiao.jpg" style='cursor:pointer;height: 270px;' onclick="window.open('/heatmap')">
					<ul>
						<li>
							在线实现地理数据坐标转换，支持百度坐标系、高德坐标系、WGS84坐标系互转。
						</li>
						<li class="skill">
							<span><b></b></span>
							<span class="i-react"></span>
							<span class="link"><a target="_blank" href="/heatmap">开始使用</a></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-col-md3">
				<div class="cbp_tmlabel">
					<h2 id="boxoffice">地图圈选工具</h2>
					
					<img src="../static/image/quanxuan.jpg" style='cursor:pointer;height: 270px;' onclick="window.open('/heatmap')">
					<ul>
						<li>
							可以在地图上画多边形，并支持导出多边形范围坐标数据。
						</li>
						<li class="skill">
							<span><b></b></span>
							<span class="i-react"></span>
							<span class="link"><a target="_blank" href="/heatmap">开始使用</a></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-col-md3">
				<div class="cbp_tmlabel">
					<h2 id="boxoffice">坐标拾取工具</h2>
					
					<img src="../static/image/zbsq.jpg" style='cursor:pointer;height: 270px;' onclick="window.open('/heatmap')">
					<ul>
						<li>
							点击地图即可得到对应点坐标，并显示对应的不同坐标系的坐标。
						</li>
						<li class="skill">
							<span><b></b></span>
							<span class="i-react"></span>
							<span class="link"><a target="_blank" href="/heatmap">开始使用</a></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-col-md1">
				<div class="grid-demo"></div>
			</div>
		</div>

		
		
		
    
  <!-- <script type="text/javascript"> 
    	window.onload=function(){

          document.getElementById("configHead").innerHTML = '<object type="text/html" data="header.html" width="100%" height="100%"></object>';
         }
    </script>-->


	</body>

</html>