<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>腾讯位置大数据爬取</title>

     <link rel="stylesheet" href=" {{url_for('static', filename='layui/css/layui.css')}}"  media="all">
</head>
<body>

  <div style="width:80%;margin-left:300px;margin-top:10px" >
    <h2>腾讯位置大数据爬取, 官网地址：https://heat.qq.com/</h2>
    <img style="width:80%; height:60%;margin-top:10px" src="{{url_for('static', filename='image/tencent.jpg')}}">
  </div>

<form  style="width:80%;margin-left:280px;margin-top:20px;width:66%"  class="layui-form" action="/doData" method="post">
  <div class="layui-form-item">
    <label class="layui-form-label">最大经度：</label>
    <div class="layui-input-block">
      <input type="text" name="max_lon" lay-verify="title" autocomplete="on" placeholder="例如：11930" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">最小经度：</label>
    <div class="layui-input-block">
      <input type="text" name="min_lon" lay-verify="title" autocomplete="on" placeholder="例如：11823" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">最大纬度：</label>
    <div class="layui-input-block">
      <input type="text" name="max_lat" lay-verify="title" autocomplete="on" placeholder="例如：3270" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">最小纬度：</label>
    <div class="layui-input-block">
      <input type="text" name="min_lat" lay-verify="title" autocomplete="on" placeholder="例如：3115" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <button style="margin-left:50px;width:80%;margin-top:20px" class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="demo2">确定</button>
  </div>
</form>


<div style="height:100px;margin-left:300px">
  <a style="margin-top:30px;color:#33ABA0" href="/heatmap">你可能还需热力图可视化工具？点击这里快速实现可视化</a>
</div>
</body>

</html>