<!DOCTYPE html>
<link rel="shortcut icon" type="image/x-icon" href="../../static/image/map-icon.png" />

<link rel="stylesheet" href=" {{url_for('static', filename='layui/css/layui.css')}}" media="all">
<script src="{{url_for('static', filename='layui/layui.js')}}"></script>
<script src="../../static/layui/layui.js"></script>
<html style="height: 100%">

	<head>
		<meta charset="utf-8">
		
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?40648ca14434a0597e16e638e1f0607b";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
			</script>
		<title>坐标转换工具</title>
	</head>

	<div id="page1"></div>

	<ul class="layui-nav layui-bg-green">
		<li class="layui-nav-item">
			<a href="http://www.mapboxx.cn/">首页</a>
		</li>
		<li style="margin-left:70%;" class="layui-nav-item layui-this">
			<a href="http://www.mapboxx.cn/">在线工具</a>
		</li>
		<li class="layui-nav-item">
			<a href="https://liujiao111.github.io/">教程</a>
		</li>
		<li class="layui-nav-item">
			<a href="https://liujiao111.github.io/about/">联系我</a>
		</li>
	</ul>

	<body style="margin: 0;">

		
		
		<form  style="width:80%;margin-left:400px;margin-top:100px;width:66%"  class="layui-form" action="/poicoordtransform" method="post">
		  <div class="layui-form-item">
		    <label class="layui-form-label">源坐标系：</label>
		    <div style="margin-left: 30px;" class="layui-input-inline">
							<select id="orgcoord" name="orgcoord" lay-verify="required" lay-search="">
								<option value="">直接选择或搜索选择</option>
								<option value="1">高德坐标系</option>
								<option value="2">WGS84坐标系</option>
								<option value="3">百度坐标系</option>

							</select>
						</div>
		  </div>
		
		  <div class="layui-form-item" style="margin-top:30px">
		    <label class="layui-form-label">目标坐标系：</label>
		    <div style="margin-left: 30px;" class="layui-input-inline">
							<select id="targetcoord" name="targetcoord" lay-verify="required" lay-search="">
								<option value="">直接选择或搜索选择</option>
								<option value="1">高德坐标系</option>
								<option value="2">WGS84坐标系</option>
								<option value="3">百度坐标系</option>

							</select>
						</div>
		  </div>
		  
		  <div class="layui-form-item" style="margin-top:30px">
		    <label class="layui-form-label">上传文件：</label>
		    <div style="margin-top:10px">
						<input style="display: none;" id='filename' name='filename'/>
						<button type="button" class="layui-btn" id="test1">
						  <i class="layui-icon">&#xe67c;</i>上传文件
						</button>
					</div>
					<div>请上传.xls格式的文件，保证第一列第二列分别为经度、纬度</div>
		  </div>
		
		
		  <div class="layui-form-item">
		    <button style="margin-left:50px;width:80%;margin-top:20px" class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="demo2">确定</button>
		    <p style="margin-left:150px;height:30px;margin-top:20px">已经有账号?快去<a href="/login">登录</a>吧</p>
		    {% if message %}
		  <p style="color:red;margin-left:150px;;height:30px;margin-top:20px">{{ message }}</p>
		  {% endif %}
		  </div>
		</form>
		
		
		
		
		
		
		
		
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script type="text/javascript">
			layui.use('upload', function() {
				var upload = layui.upload;
				


				//执行实例
				var uploadInst = upload.render({
					elem: '#test1' //绑定元素
						,
					url: '/upload?type=coord' //上传接口
						,
					data:{
						"name":"dfd"
					},
					accept: 'file',
					done: function(res) {
						//上传完毕回调
						filename = res['filename']
						$("#filename").val(filename)




					}
				});

			});

			layui.use('form', function() {
				var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

				//……

				//但是，如果你的HTML是动态生成的，自动渲染就会失效
				//因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
				form.render();
			});

			function confirmTrans() {
				//配置一个透明的询问框
				layer.msg('大部分参数都是可以公用的<br>合理搭配，展示不一样的风格', {
					time: 20000, //20s后自动关闭
					btn: ['明白了', '知道了', '哦']
				});
			}
		</script>
	</body>

</html>